.eventCard1,.eventCard2,.eventCard3,.eventCard4{
    text-align: left;
    font-size: 1.2em;
}
.eventCard1{
    background-color: #EDEDED;
    color:black;
    padding:1em;
}
.eventCard2{
    background-color: #171717;
    color:white;
    padding:1em;
}
.eventCard3{
    background-color: #EDEDED;
    color:black;
    padding:1em;
}
.eventCard4{
    background-color: #171717;
    color:white;
    padding:1em;
}
footer{
    text-align: center;
}
#card1Button,#card2Button,#card3Button,#card4Button{
    padding:1em;
    border-radius: 10px 10px 10px 10px;
    border:1px solid black;
    background-color: green;
    color:black;
    text-decoration: none;
    font-weight: bolder;
    opacity:80%;
}
.showInterest{
    background-color: #d4af37;
    padding:1em;
}
#watchButton{
    padding:1em;
    border-radius: 10px 10px 10px 10px;
    border:1px solid black;
    background-color: #aaa9ad;
    color:black;
    text-decoration: none;
    font-weight: bolder;
    opacity:80%;
}
#watchButton:hover,#card1Button:hover,#card2Button:hover,#card3Button:hover,#card4Button:hover{
    opacity:100%;
    box-shadow:0 0 10px #9385fb;
}

@media(min-width:600px){
    .eventCard1,.eventCard3{
        margin-top:40px ;
        margin-bottom:40px ;
        margin-left:40px ;
        margin-right:40px ;
        border-radius: 50px 50px 50px 50px;
        border:2px solid black;
        padding:3em;
        text-align: center;
    }
    .eventCard2,.eventCard4{
        margin-top:40px ;
        margin-bottom:40px ;
        margin-left:40px ;
        margin-right:40px ;
        border-radius: 50px 50px 50px 50px;
        border:2px solid black;
        padding:3em;
        text-align: center;
    }
    h4{
        font-size: 1.5em;
    }
}






/* 
    Desktop View
*/
@media(min-width:900px)
{
    .container{
        display:grid;
        grid-template-columns: auto auto;
    }
    nav{
        grid-column: 1/-1;
    }
    .eventCard1,.eventCard3{
        grid-column:1/2;
        margin-top:40px ;
        margin-bottom:40px ;
        margin-left:40px ;
        margin-right:40px ;
        border-radius: 50px 50px 50px 50px;
        border:2px solid black;
        padding:3em;
        text-align: center;
    }
    .eventCard2,.eventCard4{
        grid-column: 2/3;
        margin-top:40px ;
        margin-bottom:40px ;
        margin-left:40px ;
        margin-right:40px ;
        border-radius: 50px 50px 50px 50px;
        border:2px solid black;
        padding:3em;
        text-align: center;
    }
    h4{
        font-size: 1.5em;
    }
    .showInterest{
        grid-column: 1/-1;
    }
}
