body{
    background-color: #425061;
    color:white;
    
}
input,textarea{
    background-color: black;
    color:white;
}
input::placeholder,textarea::placeholder{
    color:#9eff3e;
}
#submitbtn{
    padding:0.7em;
}
