.container{
    display:grid;
    grid-template-columns: auto auto;
}
nav{
    grid-column: 1/-1;
}
.photoCards{
    grid-column:1/-1;
    display: grid;
    grid-template-columns: auto auto;
}
.photoPV{
    grid-column: 1/2;
}
.photoNetflix{
    grid-column: 2/-1;
}
.contentCards{
    grid-column: 1/-1;
}
h2{
    text-align: center;
    font-size: 1.2em;
}

.prime{
    background-color:#00A8E1;
    padding:1em;
    border-radius: 6px 6px 6px 6px;
    text-decoration: none;
    color:white;
    font-size: 0.7em;
}
.netflix{
    background-color: black;
    padding:1em;
    border-radius: 6px 6px 6px 6px;
    text-decoration: none;
    color:red;
    font-size: 0.7em;
    
}
.show1{
    background-color: #d4af37;
    padding:1em;
}
.show2{
    background-color: #aaa9ad;
    padding:1em;
}
.show3{
    background-color: #a97142;
    padding:1em;
}
.photoNetflix{
    background-color: black;
}
.photoPV{
    background-color: #1c242e;
}
.photoNetflix img,.photoPV img{
    max-width: 50%;
    max-height: 50%;
}
#readMoreNetflix,#readMorePV{
    background-color: yellow;
    padding:1em;
    border:1px solid black;
    border-radius: 6px 6px 6px 6px;
    text-decoration: none;
    color:black;
    font-weight: 1000;
}
.contentNetflix,.contentPV{
    display:none;
}
.contentNetflix p,.contentPV p{
    text-align: left;
}
.syn{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

@media (min-width:600px){
    .contentNetflix,.contentPV{
        grid-template-columns: auto auto auto ;
        padding-top: 2em;
    }
    .show1{
        order:2;
        margin-left: 2%;
        grid-column: 2/3;
        margin-right: 2%;
        border-radius: 20px 20px 0 0;
    }
    .show2{
        margin-top: 30px;
        order:1;
        grid-column: 1/2;
        border-radius: 20px 20px 0 0;
    }
    .show3{
        margin-top: 90px;
        order:3;
        grid-column: 3/-1;
        border-radius: 20px 20px 0 0;
    }
    .prime,.netflix{
        order:last;
    }
    .titleOfShow{
        order:1;
    }
    .netflix,.prime{
        order:4;
    }
    .syn{
        order:2;
    }
    .synopsis{
        order:3;
    }
    .contentNetflix{
        background-color: black;
        
    }
    .contentPV{
        background-color: #1c242e;
    }
}